<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <h2 style="text-align: center; color: white;">Mano Fabrics</h2>

    <ion-buttons slot="end">
      <ion-button class="filter">
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
      <ion-fab>
        <ion-fab-button style="--background: #7b0101 ;" style="--background: #ee1b24 ;" (click)="openCart()" #cart>
          <div class="cart-length">{{ cartItemCount | async }}</div>
          <ion-icon name="cart" class="cart-icon"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input (click)="navigate('/videos-card')" placeholder="Search Your Product"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding">
    <h2>All Categories</h2>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let category of categories">
        <ion-col>
          <img src="{{ category.categoryImage }}" />
          <h4  (click)="navigate('/videos-card')">{{ category.categoryName }}</h4>
        
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-card mode="ios" *ngFor="let category of categories">
    <ion-card-content >
      <ion-card-header>
        <ion-card-title>{{ category.categoryName }}</ion-card-title>
      </ion-card-header>
      <img  (click)="navigate('/videos-card')" src="{{ category.categoryImage }}" />
      <ion-col size="4" class="ion-text-right">
      </ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>
